%html
  %head
    %title rambler                 
    - if ENV["RACK_ENV"] == 'production'
      =stylesheet_link_tag 'deploy.css'
      =javascript_include_tag 'deploy.js'
    - else
      =stylesheet_link_tag 'reset', 'grid', 'style'
      = javascript_include_tag '/faye.js','faye_ext','def', 'sha1','prototype.s2.min','handlebars','templates','euwindow', 'abmessage', 'lowpro','managers','abapp','app'
    - if @js  
      - @js.each do |js|
        :javascript
          #{js}
%body
  .container_12#container
    
    =flash_tag(:success, :class => 'message success', :id => 'flash-success')
    =flash_tag(:notice, :class => 'message notice', :id => 'flash-notice')
    =flash_tag(:error, :class => 'message error', :id => 'flash-error')   
    #app_element{:style => "display:none;"} 
    #message.grid_12{:style => "display:none;"}
      %p
  
    .grid_6.header
      %h1
        %a{href: '/'}
          %img{src: '/images/logo_6.png', style:'margin-left:42px;margin-bottom:25px;margin-top:25px;'}
    .grid_6
      .account
        - if session[:u_full_name]
          .right.image
            = (session[:u_image] ? (image_tag(session[:u_image].to_s)) : "")
          
          .right.profile>
            = (session[:u_full_name] ? session[:u_full_name].to_s : "")
            %br>
            = link_to "Settings", "/settings"
            &nbsp;
            = link_to "About", "/about"
            &nbsp;
            = link_to "Logout", "/logout"

          .clear
          
    .grid_12.header
      .nav>
        %ul>
              
    =yield

    .grid_12.alpha#footer{style: "display:none"}
      %p
        An Odopod joint.
    .clear